<ion-content>
    <h1 id="Cadastro">Cadastro</h1>
    <ion-list>   
            <!--Login-->
                 <ion-item>
                     <ion-label position="floating">Nome </ion-label>
                     <ion-input type="nome"></ion-input>
                     <ion-label position="floating">E-mail </ion-label>
                     <ion-input type="email"></ion-input>
                     <ion-label position="floating">Numero </ion-label>
                     <ion-input type="numero"></ion-input>
                     <ion-label position="floating">Senha </ion-label>
                     <ion-input type="senha"></ion-input>


                 </ion-item>
           
               </ion-list>
               <div id="botoes">
               <ion-button shape="Confirmar"> Confirmar </ion-button>
               <ion-button shape="Cancelar"> Cancelar </ion-button>
           </div>
           </ion-content>
