<ion-split-pane>
  <ion-menu menuId="avocadoMenu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
      <ion-list>
        <ion-item button [routerLink]="[ '/categoria']">
          <ion-label>Categoria</ion-label>
        </ion-item>
        <ion-item button [routerLink]="[ '/support']">
          <ion-label>Support</ion-label>
        </ion-item>
        <ion-item button (click)="Sair()">
          <ion-icon slot="start" name="inicio"></ion-icon> Sair
              </ion-item>      
      </ion-list>
    </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>