<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button defaultHref="/login"></ion-menu-button>
        </ion-buttons>

        <ion-title>Menu</ion-title>
    </ion-toolbar>
</ion-header> 
<ion-content>

 <ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="./../../assets/imgs/tenis 3.jpg" width="60%" height="40%"/>
  </ion-slide>
  <ion-slide>
    <img src="./../../assets/imgs/busto dart vader.jpg" width="40%" height="40%"/>
  </ion-slide>
  <ion-slide>
    <img src="./../../assets/imgs/Figure Batmam.jpg" width="60%" height="40%"/>
  </ion-slide>
</ion-slides>
</ion-content> 