<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>

      <ion-title>categoria</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <img src="./../../assets/imgs/tenis 5.jpg" width="60%" height="40%"/>
  <img src="./../../assets/imgs/Figure 5.jpg" width="60%" height="40%"/>
  <img src="./../../assets/imgs/busto dart vader.jpg" width="60%" height="40%"/>

  <ion-button routerLink="/propaganda">
    Ver propaganda
  </ion-button>

</ion-content>
